@import url("https://use.typekit.net/kvx8bhm.css font-family: mr-darcy, sans-serif;font-weight: 600;font-style: normal;");

@import url("https://use.typekit.net/kvx8bhm.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/* PARALLAX*/

.image-one {
  background-image: url("https://assets.codepen.io/4988484/242101178.jpg");
}

.image-two {
  background-image: url("https://assets.codepen.io/4988484/Halloween.jpg");
}

.image-three {
  background: url("https://assets.codepen.io/4988484/a69da314-d21a-4a24-a3bf-35169c59169c.jpg");
}

.image-four {
  background: url("https://assets.codepen.io/4988484/Screen+Shot+2020-11-20+at+11.07.04+AM.jpg");
}

.image-five {
  background-image: url("https://assets.codepen.io/4988484/public-domain-vintage-halloween-postcard-row-of-jack-o-lanterns.jpg");
}

.image-six {
  background: url("https://assets.codepen.io/4988484/VHTVT.jpg");
}

.parallax {
  height: 80vh;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Typography */

.flex-row {
  display: flex;
}

hr {
  height: 1px;
  border-width: 0;
  color: #262223;
  background-color: #262223;
  margin-bottom: 25px;
}

p {
  font-size: 1em;
  margin: 0 0 20px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: century-gothic, sans-serif;
  background: #aa95bf;
  color: #262223;
}

h1 {
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #262223;
  text-align: center;
  padding: 25px;
}

h2 {
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #262223;
  text-align: center;
}

h3 {
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #262223;
  text-align: center;
}

/* Simple Grid - 12 columns 60/20 */

.columns_1 {
  width: 940px;
}

.columns_2 {
  width: 460px;
  float: left;
}

.columns_2:last-of-type {
  margin-right: 0;
}

/* Misc HTML*/

.align-right {
  float: right;
  margin: 0 0 0 10px;
  padding: 0;
}

.align-left {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

.align-center {
  display: block;
  margin: 0 auto;
}

.container {
  width: 940px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

img {
  width: 100%;
  display: block;
}

.row {
  width: 100%;

  display: block;
  padding-bottom: 20px;
}

.section-head {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.section-copy {
  font-size: 1.2em;
  text-align: center;
}

/*HEADER*/

.main-header h1 span {
  color: #262223;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.main-header {
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

header {
  padding: 10px;
  background-color: #aa95bf;
}

/*NAVIGATION*/

nav {
  height: 50px;
  background: #333;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0 20;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  line-height: 50px;
  text-transform: uppercase;
  transition: 1s;
}

nav a:hover {
  background: #aa95bf;
}

/*BUTTONS*/

.solid-btn {
  display: inline-block;
  padding: 15px 25px;
  background-color: #5e4973;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.solid-btn:hover {
  background-color: #40383e;
}

html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  padding: 1rem;
}

.section-title {
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

/* Footer */
footer {
  width: 100%;
  padding: 50px 0;
  text-align: left;
  background-color: #5e4973;
}
